*{
    margin: 0px;
    padding: 0px;
    /* display: flex; */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}
.main{
    border: 2px solid black;
    border-radius: 15px;
    width: 30vw;
    display: grid;
    grid-template-rows: main input button;
    row-gap: 10px;
    background-color: rgb(190, 85, 185);
    padding: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.705);
}

@media screen and (max-width:670px) {
    .main{
        width: 50vw
    }
}
@media screen and (max-width:450px) {
    .main{
        width: 70vw
    }
}
h3{
    margin: 10px;
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .input{
    
    margin-right:10px;
}
.input input{
    width: 100%;
    border-radius: 10px;
    height: 5vh;
    padding-left:10px;
}
.main .button button{
    width: 100%;
    margin-left: 0px;
    border-radius: 10px;
    height: 5vh;
    margin-bottom: 10px;
    background-color: green;
    color: white;
}
.main .button button:hover{
    background-color: rgb(61, 202, 42);
    cursor: pointer;
}
